<div class="container-fluid overflow-hidden">
    <div class="row justify-content-center text-center">
        <div class="col-6">
            <button (click)="showData()" class="boton btn btn-primary">Mostrar Estadisticas</button>

        </div>
        <div class="col-6 ">
            <button (click)="hideData()" class="boton btn btn-primary">Ocultar Estadisticas</button>
        </div>
    </div>
    
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div *ngIf="elemento == true">
                <div *ngIf="display==true">
                    <google-chart [data]="pieChart"></google-chart>
                    <google-chart [data]="pieChartRol"></google-chart>
                    <google-chart [data]="BarChart"></google-chart>
                    <google-chart [data]="BarChartRol"></google-chart>
                </div>
            </div>
            <div *ngIf="elemento2 == true">
                <div *ngIf="display2==true">
                    <google-chart [data]="pieChartFiltroArea"></google-chart>
                    <google-chart [data]="pieChartFiltroRol"></google-chart>
                    <google-chart [data]="BarChartFiltroArea"></google-chart>
                    <google-chart [data]="BarChartFiltroRol"></google-chart>
                </div>
            </div>
        </div>

        <div class="col-md-2" id="filtro">

            <div class="mb-3">
                <label for="desde">Desde: </label>
                <input type="date" class="form-control" id="desde" [(ngModel)]="desde" name="desde">
            </div>

            <div class="mb-3">
                <label for="hasta">Hasta: </label>
                <input type="date" class="form-control" id="hasta" [(ngModel)]="hasta" name="hasta">
            </div>

            <div class="row">
                <div class="d-flex justify-content-center col-lg-6 col-md-12 col-6">
                    <button (click)="hideDataFilter()" class="boton btn btn-primary">Recargar</button>
                </div>
                <div class="d-flex justify-content-center col-lg-6 col-md-12 col-6">
                    <button (click)="showDataFilter()" class="boton btn btn-primary">Filtrar</button>
                </div>
            </div>
        </div>
    </div>
</div>