<div class ="container-fluid">
    <h1 class="text-center">Puto el que lee</h1>
    <form class="forms" [formGroup]="anunciosForm">

        <div class="form-group">
            <label for="textoAnuncio" class="form-label">Ingrese el texto del Anuncio</label>
            <textarea name="textoAnuncio" id="textoAnuncio" class="form-control" placeholder="Mucho texto..." rows="5" formControlName="textoAnuncio"></textarea>
        </div>

        <div class="form-group">
            <label for="tipoAnuncio" class="form-label">Tipo Contenido</label>
            <select name="tipoAnuncio" id="tipoAnuncio" class="form-select" formControlName="tipoAnuncio">
                <option value="{{item}}" *ngFor="let item of tipos">{{item}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="medioAnuncio" class="form-label">Medios de Publicacion</label>
            <input type="text" class="form-control" placeholder="Ingrese el Medio de Publicacion" name="medioAnuncio" formControlName="medioAnuncio" id="medioAnuncio">
        </div>

        <div class="form-group">
            <label for="vigenciaAnuncio" class="form-label">Fecha de Vigencia</label>
            <input type="date" class="form-control" placeholder="Fecha Vigencia" name="vigenciaAnuncio" formControlName="vigenciaAnuncio" id="vigenciaAnuncio">
        </div>

        <div class="form-group">
            <label for="estadoAnuncio" class="form-label">Estado Anuncio</label>
            <select name="estadoAnuncio" id="estadoAnuncio" class="form-select" formControlName="estadoAnuncio">
                <option value="Edicion">Edicion</option>
                <option value="Confeccion">Confeccionado</option>
                <option value="Autorizado">Autorizado</option>
                <option value="Cancelado">Cancelado</option>
            </select>
        </div>

        <div class="form-group">
            <label for="recursosAnuncio">Recursos del Anuncio:</label>
            <input type="file" accept="image/x-png,image/gif,image/jpeg" (onFileChanged)="onFileChanges($event)" class="form-control" id="recursosAnuncio"
                placeholder="Ingrese Archivos del Anuncio" name="recursosAnuncio" required>
        </div>

        <div class="form-group">
            <label for="lecturaAnuncio" class="form-label">Tiempo Lectura</label>
            <select name="lecturaAnuncio" id="lecturaAnuncio" class="form-select" formControlName="lecturaAnuncio">
                <option value="Corto">Corto</option>
                <option value="Medio">Medio</option>
                <option value="Largo">Largo</option>
            </select>
        </div>

    </form>
</div>