<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <br>
            <h1>Crear Empleado</h1>
            <br>
            <form class="forms" [formGroup]="empleadoForm">
                <div class="form-group">
                    <label for="apellido" class="form-label">Apellido:</label>
                    <input type="text" class="form-control" placeholder="Ingrese el apellido" name="apellido"
                        formControlName="apellido" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" placeholder="Ingrese el nombre" name="nombre"
                        formControlName="nombre" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="dni" class="form-label">DNI:</label>
                    <input type="text" class="form-control" placeholder="Ingrese el DNI" name="dni"
                        formControlName="dni" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="email" class="form-label">E-Mail:</label>
                    <input type="text" class="form-control" placeholder="Ingrese el E-Mail" name="email"
                        formControlName="email" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" placeholder="Ingrese el Username" name="username"
                        formControlName="username" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="text" class="form-control" placeholder="Ingrese la Contraseña" name="password"
                        formControlName="password" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="legajo" class="form-label">Legajo:</label>
                    <input type="text" class="form-control" placeholder="Ingrese el Legajo" name="legajo"
                        formControlName="legajo" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="area" class="form-label">Area:</label>
                    <select name="area" class="form-select" formControlName="area" (change)="obtenerRolesSegunArea()" required>
                        <option value="" selected disabled>Seleccione un area...</option>
                        <option *ngFor="let area of areas" value="{{area._id}}">{{area.nombreArea}}</option>
                    </select>
                </div>
                <br>
                <div class="form-group" *ngIf="areaElegida==true">
                    <label for="roles" class="form-label">Roles:</label>
                    <ng-multiselect-dropdown [placeholder]="'Elige uno o varios Roles ...'"
                        [settings]="dropdownSettings" [data]="dropdownList" name="roles" formControlName="roles">
                    </ng-multiselect-dropdown>
                </div>
                <br>
                <button [disabled]="!empleadoForm.valid" class="boton btn btn-primary"
                    (click)="enviarEmpleado()">Registrar</button>
                    
            </form>
            <br>
            <br>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Legajo</th>
                    <th scope="col">Area</th>
                    <th scope="col">Roles</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let emp of empleados">
                    <td>{{emp.apellido}}</td>
                    <td>{{emp.nombre}}</td>
                    <td>{{emp.dni}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.username}}</td>
                    <td>{{emp.legajo}}</td>
                    <td>{{emp.area.nombreArea}}</td>
                    <td><ul><li *ngFor="let rol of emp.roles">{{rol.nombreRol}}</li></ul></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>