<div>
    <h1>TPFinal-PySW-Grupo 7</h1>
    <nav class="navbar navbar-expand-lg bg-dark">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" [routerLink]="['anuncios/ver']">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['anuncios/crear']">Crear anuncio</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['anuncios/buscar']">Buscar Anuncio</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['anuncios/autorizar']">Autorizar Anuncio</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['estadisticas']">Estadisticas</a></li>

            <!--    <div>
                <a *ngIf="!loginService.userLoggedIn()" [routerLink]="['login']">(Login)</a>
                <a *ngIf="loginService.userLoggedIn()" [routerLink]="['login']" (click)="logout()">
                    {{loginService.userLogged()}} (logout)
                </a>
            </div>-->
            <li class="nav-item"><a class="nav-link" [routerLink]="['empleado/crear']">Crear Empleado</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['area/crear']">Crear Area</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['rol/crear']">Crear Rol</a></li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item"><a class="nav-link" *ngIf="!loginService.userLoggedIn()"
                    [routerLink]="['login']">(Login)</a></li>
            <li class="nav-item"><a class="nav-link" *ngIf="loginService.userLoggedIn()" [routerLink]="['login']"
                    (click)="logout()">
                    {{loginService.userLogged()}} (logout)
                </a></li>
        </ul>
    </nav>
</div>