<!-- <div>
    
    <nav class="navbar navbar-expand-lg bg-dark">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" [routerLink]="['anuncios/ver']">Inicio</a></li>

            <li class="nav-item" [hidden]="!loginService.userLoggedIn()||loginService.esEncargado()"><a class="nav-link" [routerLink]="['anuncios/crear']">Crear anuncio</a></li>
            <li class="nav-item" [hidden]="!loginService.userLoggedIn()"><a class="nav-link" [routerLink]="['anuncios/buscar']">Buscar Anuncio</a></li>

            <li class="nav-item" [hidden]="!loginService.userLoggedIn()||!loginService.esEncargado()"><a
                    class="nav-link" [routerLink]="['anuncios/autorizar']">Autorizar Anuncio</a></li>

            <li class="nav-item" [hidden]="!loginService.userLoggedIn()||!loginService.esEncargado()"><a
                    class="nav-link" [routerLink]="['estadisticas']">Estadisticas</a></li>


            <li class="nav-item" [hidden]="!loginService.userLoggedIn()||!loginService.esEncargado()"><a
                    class="nav-link" [routerLink]="['empleado/crear']">Crear Empleado</a></li>

            <li class="nav-item" [hidden]="!loginService.userLoggedIn()||!loginService.esEncargado()"><a class="nav-link"
                    [routerLink]="['area/crear']">Crear Area</a></li>

            <li class="nav-item" [hidden]="!loginService.userLoggedIn()||!loginService.esEncargado()"><a
                    class="nav-link" [routerLink]="['rol/crear']">Crear Rol</a></li>
        </ul>
        <ul class="nav justify-content-end text-end">
            <li class="nav-item"><a class="nav-link" *ngIf="!loginService.userLoggedIn()"
                    [routerLink]="['login']">(Login)</a></li>

            <li class="nav-item"><a class="nav-link" *ngIf="loginService.userLoggedIn()" [routerLink]="['login']"
                    (click)="logout()">
                    {{loginService.userLogged()}} (logout)
                </a></li>
        </ul>
    </nav>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <h1 class="navbar-brand titu"><img src="assets/unknown.png" alt="" style="width:100%; height:auto; max-width:60px;">&nbsp;Anuncios Paloma</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav nav-pills">
                        <li class="nav-item n"><a class="nav-link" [routerLink]="['anuncios/ver']">Inicio</a></li>
            
                        <li class="nav-item" [hidden]="!loginService.userLoggedIn()||loginService.esEncargado()"><a class="nav-link" [routerLink]="['anuncios/crear']">Crear anuncio</a></li>
                        <li class="nav-item" [hidden]="!loginService.userLoggedIn()"><a class="nav-link" [routerLink]="['anuncios/buscar']">Buscar Anuncio</a></li>
            
                        <li class="nav-item" [hidden]="!loginService.userLoggedIn()||!loginService.esEncargado()"><a
                                class="nav-link" [routerLink]="['anuncios/autorizar']">Autorizar Anuncio</a></li>
            
                        <li class="nav-item" [hidden]="!loginService.userLoggedIn()||!loginService.esEncargado()"><a
                                class="nav-link" [routerLink]="['estadisticas']">Estadisticas</a></li>
            
            
                        <li class="nav-item" [hidden]="!loginService.userLoggedIn()||!loginService.esEncargado()"><a
                                class="nav-link" [routerLink]="['empleado/crear']">Crear Empleado</a></li>
            
                        <li class="nav-item" [hidden]="!loginService.userLoggedIn()||!loginService.esEncargado()"><a class="nav-link"
                                [routerLink]="['area/crear']">Crear Area</a></li>
            
                        <li class="nav-item" [hidden]="!loginService.userLoggedIn()||!loginService.esEncargado()"><a
                                class="nav-link" [routerLink]="['rol/crear']">Crear Rol</a></li>
                    </ul>
                    <ul class="nav justify-content-end text-end">
                        <li class="nav-item"><a class="nav-link" *ngIf="!loginService.userLoggedIn()"
                                [routerLink]="['login']">(Login)</a></li>
            
                        <li class="nav-item"><a class="nav-link" *ngIf="loginService.userLoggedIn()" [routerLink]="['login']"
                                (click)="logout()">
                                {{loginService.userLogged()}} (logout)
                            </a></li>
                    </ul>
          </div>
        </div>
      </nav>