<p>busqueda works!</p>

<!--<ng-multiselect-dropdown *ngIf="displayMedios==true" id="medios"
[placeholder]="'Elige uno o varios Medios ...'" [settings]="settingsMedio" [data]="dataMedios"
name="medioAnuncio" formControlName="medioAnuncio" (click)="cambio()">
</ng-multiselect-dropdown>-->
<div class="busquedas">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="titulo" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
      </div>
</div>
